.card-container {
  height: 40vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 25px;
  border-radius: 10px;
}

.card-image {
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 0 auto;
  margin-right: 2.5rem;
}

.card-text-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.card-button {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-right: 2.5rem;
}

@media screen and (max-width: 920px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 90%;
  }

  .card-text-container {
    height: 100%;
  }

  .card-image {
    height: auto;
    width: 250px;
  }
}

@media screen and (max-width: 929px) {
  .card-image {
    justify-content: center;
    align-items: center;
  }
}
